.infinite-scroll .navigation.pagination,
.infinite-scroll .posts-navigation,
.infinite-scroll .woocommerce-pagination,
.infinite-scroll.neverending .site-footer{
  display:none;
}

.infinity-end.neverending .site-footer{
  display:block;
}

#infinite-handle{
  text-align:center;
}

.site #infinite-handle button,
.site #infinite-handle button:hover{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-weight:400;
}

.site #infinite-handle button{
  -ms-flex-align:center;
  -webkit-box-align:center;
  align-items:center;
  margin:auto;
}

#infinite-handle .svg-icon{
  border-right:1px solid rgba(255,255,255,0.5);
  height:1.25em;
  margin-right:0.45rem;
  padding-right:0.4rem;
  width:calc(1.25em + 0.4rem);
}

#infinite-handle span{
  font-size:1rem;
}

.infinite-wrap > * + *{
  margin-top:4rem;
}

#infinite-footer{
  z-index:99;
}

#infinite-footer .container{
  border-color:var(--th-color-secondary-lighter);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  overflow:auto;
  padding:0.35em 1em;
}

#infinite-footer #infinity-blog-title{
  font-family:var(--th-site-font-headings);
  font-size:1.125rem;
}

#infinite-footer .blog-credits{
  color:var(--th-color-secondary-base);
  font-size:0.79rem;
  font-weight:bold;
}

#infinite-footer .blog-credits a{
  color:inherit;
  font-weight:normal;
  margin-right:0.125rem;
}

#infinite-footer .blog-info a:hover,
#infinite-footer .blog-credits a:hover{
  color:var(--th-color-accent-dark);
  text-decoration:none;
}

.site-main .sd-content .share-customize-link{
  margin-top:1rem;
}

.site-main .sd-content .share-customize-link a{
  font-family:var(--th-site-font-body);
  font-size:0.889rem;
}

#page div.sharedaddy h3.sd-title:before{
  border:none;
  margin:0;
}

#page div.sharedaddy h3.sd-title,
#page div#jp-relatedposts h3.jp-relatedposts-headline,
#page div#jp-relatedposts h3.jp-relatedposts-headline em{
  font-weight:400;
}

#page div.sharedaddy h3.sd-title,
#page div#jp-relatedposts h3.jp-relatedposts-headline{
  color:var(--th-color-secondary-base);
  font-size:0.889rem;
}

#page div.sharedaddy h3.sd-title,
#page div#jp-relatedposts h3.jp-relatedposts-headline{
  margin-bottom:25px;
}

#page div#jp-relatedposts h3.jp-relatedposts-headline{
  margin-bottom:18px;
}

#page #jp-post-flair{
  margin-bottom:0;
  padding-bottom:0;
}

#page .sd-social-icon .sd-content ul{
  margin:0 !important;
}

#page .sd-social-icon .sd-content ul li[class*='share-'] a{
  padding:12px;
}

#page div#jp-relatedposts h3.jp-relatedposts-headline em:before{
  display:none;
}

.pd-rating,
.sharedaddy .sd-sharing{
  line-height:1;
}

#page .sharedaddy,
.sd-rating{
  margin-bottom:30px;
}

#page #jp-relatedposts a{
  border-bottom:none;
}

#page div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post img.jp-relatedposts-post-img{
  margin-bottom:13px;
}

#page div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title{
  margin-bottom:5px;
}

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context{
  font-size:13px;
  line-height:1.4;
  margin-top:5px;
  opacity:0.8;
}

#wpstats{
  display:none;
}

.wp-block-jetpack-subscriptions{
  margin-bottom:2rem;
}

.wp-block-group.has-background > .wp-block-group__inner-container > .wp-block-jetpack-layout-grid.alignfull{
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.wp-block-jetpack-tiled-gallery.alignfull{
  padding:4px;
}

.wp-block-jetpack-contact-form > form{
  width:100%;
}

.wp-block-jetpack-contact-info{
  margin-bottom:2rem;
}

.wp-block-jetpack-contact-info a{
  line-height:1.45;
}

.wp-block-jetpack-contact-info > * + *{
  margin-top:0.25rem;
}

.wp-block-jetpack-mailchimp input[type="email"]{
  width:100%;
}

.wp-block-jetpack-mailchimp form > :last-child{
  margin-bottom:0;
}

.wpnbha,
.th-content .wpnbha{
  margin-bottom:2rem;
}

.wpnbha:not(.is-grid) > div > * + *{
  border-top:1px solid var(--th-color-secondary-lighter);
  margin-top:2rem;
  padding-top:2rem;
}

.wpnbha article .entry-wrapper > * + *{
  margin-top:1.3em;
}

.wpnbha .entry-wrapper > .entry-title + *{
  margin-top:1em;
}

.wpnbha .entry-meta a,
.wpnbha .cat-links a{
  -webkit-box-shadow:none;
  border-bottom:none;
  box-shadow:none;
  font-weight:bold;
  text-decoration:none;
}

.wpnbha .entry-wrapper .cat-links + .entry-title{
  margin-top:0;
}

.wpnbha .more-link-container .more-link::before{
  display:none;
}